[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-cors = "*"
flasgger = "*"
pymongo = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
ruff = "*"

[requires]
python_version = "3.12"
